# Ignore built distribution files
ara.opensciencegrid.org/*/build/*
ara.opensciencegrid.org/*/root_build/*
ara.opensciencegrid.org/*/source/*

# Don't ignore static distribution files
!ara.opensciencegrid.org/*/build/macros
ara.opensciencegrid.org/*/build/macros/*
!ara.opensciencegrid.org/*/build/macros/ara_rootlogon.C
